load("@my_py_rules//:defs.bzl", "my_py_bin_wheel_downloader", "my_py_src_dist_downloader")

_INTERPRETER = {{INTERPRETER}}
_SRC_DISTS = {{SRC_DISTS}}
_BIN_WHEELS = {{BIN_WHEELS}}
_EXTRA_DEPS = {{EXTRA_DEPS}}
_SRC_DISTS_BUILD_DEPS = {{SRC_DISTS_BUILD_DEPS}}

def install_deps(**kwargs):
    for (name, _, requirement, deps) in _SRC_DISTS:
        extra_deps = _EXTRA_DEPS.get(name, [])
        build_deps = _SRC_DISTS_BUILD_DEPS.get(name, [])
        my_py_src_dist_downloader(
            name=name,
            requirement=requirement,
            deps=deps + extra_deps,
            build_deps=build_deps,
            interpreter=_INTERPRETER,
            **kwargs,
        )
    for (name, _, requirement, deps) in _BIN_WHEELS:
        extra_deps = _EXTRA_DEPS.get(name, [])
        my_py_bin_wheel_downloader(
            name=name,
            requirement=requirement,
            deps=deps + extra_deps,
            interpreter=_INTERPRETER,
            **kwargs,
        )